$background-color: purple;
$pricing-color: red;

html {
  body {
    background-color: $background-color;

    .container {

      main {
        section {
          .price-box {
            height: 200px;
            @media (min-width: 768px) {
              height: 400px;
            }

            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 10px;

            .inner-content {
              margin: 2px;
              background-color: red;
              height: 100%;
              padding: 20px;

              .price, .sub-price {
                text-align: center;
              }

              button {
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
              }
            }

          }
        }
      }
    }
  }
}
